force-app/main/default/flows/Backup_PA_creating_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Increment_the_iterator</name>
        <label>Increment the iterator</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>iteratorInEmployeesToBeAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_for_the_Assignments_in_BPAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variable_to_loop</name>
        <label>Set variable to loop</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>iteratorInEmployeesToBeAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employees_Assigned__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_for_the_Assignments_in_BPAs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>to_assign_the_BPAs_Based_on_employees_available</name>
        <label>to assign the BPAs Based on employees available</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iteratorInEmployeesToBeAssigned</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Employees_Required__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_the_BPAs_Now</targetReference>
            </connector>
            <label>yes assign</label>
        </rules>
    </decisions>
    <interviewLabel>Backup PA creating flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backup PA creating flow</label>
    <loops>
        <name>Looping_for_the_Assignments_in_BPAs</name>
        <label>Looping for the Assignments in BPAs</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Side_Employees_records_Stgep2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>to_assign_the_BPAs_Based_on_employees_available</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_the_BPAs_Now</name>
        <label>Creating the BPAs Now</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Increment_the_iterator</targetReference>
        </connector>
        <inputAssignments>
            <field>Side_Employee__c</field>
            <value>
                <elementReference>Looping_for_the_Assignments_in_BPAs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Side_Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Backup_Project_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_project_records_step1</name>
        <label>Get project records step1</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Side_Employees_records_Stgep2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Side_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employees_Assigned__c</queriedFields>
        <queriedFields>Employees_Required__c</queriedFields>
        <queriedFields>Project_Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Side_Employees_records_Stgep2</name>
        <label>Get Side Employees records Stgep2</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_variable_to_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Side_Employee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employee_Name__c</queriedFields>
        <queriedFields>Employee_Email__c</queriedFields>
        <queriedFields>Employee_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_project_records_step1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Side_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>iteratorInEmployeesToBeAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Employees_Assigned__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>zFinalRecordsEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Side_Employee__c</objectType>
    </variables>
</Flow>
