force-app/main/default/flows/updateemployeestatusonPAdelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>unassignedAssignement</name>
        <label>unassignedAssignement</label>
        <locationX>859</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>loopforunassigning.Employee_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>updateemployeestatusonPAdelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateemployeestatusonPAdelete</label>
    <loops>
        <name>loopforunassigning</name>
        <label>loopforunassigning</label>
        <locationX>145</locationX>
        <locationY>357</locationY>
        <collectionReference>gettheemployeeids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>gettheemployeeids</name>
        <label>gettheemployeeids</label>
        <locationX>182</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>donewithupdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>donewithupdate</name>
        <label>donewithupdate</label>
        <locationX>560</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employee_Status__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>gettheemployeeids</targetReference>
        </connector>
        <object>Project_Assignment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
